@{
    ViewBag.Title = "ManageExam";
    Layout = "~/Views/Shared/ExamControllerLayout.cshtml";
}

<html>
<head>
    <style>
        #tr {
            height: 40px;
            width: 600px;
            text-align: center;
            font-size: 13px;
        }
    </style>
</head>
<body>
    <div class="container-fluid" style="border: none; margin: 5px; padding: 5px; border-radius: 4px;">
        <h3><b>Manage Exams</b></h3>
        <hr>

        <div class="container-fluid" style="border: 1px solid silver; padding: 0px; border-radius: 4px;">
            <div class="container-fluid" style="background-color: #F4F4F4; padding: 12px; border-radius: 4px;"><span class="glyphicon glyphicon-edit"></span> Exams List</div>
            <br>
            <div class="container-fluid table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th style="height: 30px; width: 600px; text-align: center; font-size: 15px;">&nbsp;&nbsp;Exam Id</th>
                            <th style="height: 30px; width: 600px; text-align: center; font-size: 15px;">&nbsp;&nbsp;Subject Id</th>
                            <th style="height: 30px; width: 600px; text-align: center; font-size: 15px;">&nbsp;&nbsp;Total Marks</th>
                            <th style="height: 30px; width: 600px; text-align: center; font-size: 15px;">&nbsp;&nbsp;Batch Id</th>
                            <th style="height: 30px; width: 600px; text-align: center; font-size: 15px;">&nbsp;&nbsp;Department Id</th>
                            <th style="height: 30px; width: 600px; text-align: center; font-size: 15px;">&nbsp;&nbsp;Exam Session</th>
                            <th style="height: 30px; width: 600px; text-align: center; font-size: 15px;">&nbsp;&nbsp;Status</th>
                            <th style="height: 30px; width: 800px; text-align: center; font-size: 15px;">&nbsp;&nbsp;Action</th>
                        </tr>
                    </thead>
                    @foreach (var e in Model)
                    {
                        <tr>
                            <td style="height: 40px; width: 600px; text-align: center; font-size: 13px;">&nbsp;&nbsp;<b>@e.Exam_Id</b></td>
                            <td style="height: 40px; width: 600px; text-align: center; font-size: 13px;">&nbsp;&nbsp;<b>@e.Subject_Id</b></td>
                            <td style="height: 40px; width: 600px; text-align: center; font-size: 13px;">&nbsp;&nbsp;<b>@e.Total_Marks</b></td>
                            <td style="height: 40px; width: 600px; text-align: center; font-size: 13px;">&nbsp;&nbsp;<b>@e.Batch_Id</b></td>
                            <td style="height: 40px; width: 600px; text-align: center; font-size: 13px;">&nbsp;&nbsp;<b>@e.Department_Id</b></td>
                            <td style="height: 40px; width: 600px; text-align: center; font-size: 13px;">&nbsp;&nbsp;<b>@e.Exam_Session</b></td>
                            <td style="height: 40px; width: 600px; text-align: center; font-size: 13px;">&nbsp;&nbsp;<b>@e.Status</b></td>
                            
                            <td style="height: 40px; width: 920px; text-align: center; font-size: 13px;">

                                <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("ExamSchedule","ExamController", new {Exam_Id=@e.Exam_Id},null)'">
                                    Schedule
                                </button>

                                <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("ExamEnrollment","ExamController", new {Exam_Id=@e.Exam_Id},null)'">
                                    Enrollment
                                </button>

                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</body>
</html>