@model FYP.Models.Batch
@{
    ViewBag.Title = "AddBatch";
    Layout = "~/Views/Shared/SuperUserLayout.cshtml";
}

<style>
    .submit-btn {
        width: 100%;
    }
</style>

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-primary">
                    <div class="panel-heading"><center><b>Add Batch</b></center></div>
                    <div class="panel-body">

                        @using (Html.BeginForm())
                        {

                            @Html.Label("Batch ID")
                            @Html.TextBoxFor(a => a.Batch_Id, new { @class = "form-control", @placeholder = "Example: F13" })
                            @Html.ValidationMessageFor(a => a.Batch_Id)<br>

                            @Html.Label("Batch Starting Year")
                            @Html.TextBoxFor(a => a.Starting_Year, new { @class = "form-control", @placeholder = "Example: 2013", @type="number" })
                            @Html.ValidationMessageFor(a => a.Starting_Year)<br>

                            @Html.Label("Batch Ending Year")
                            @Html.TextBoxFor(a => a.Ending_Year, new { @class = "form-control", @placeholder = "Example: 2017", @type = "number" })
                            @Html.ValidationMessageFor(a => a.Ending_Year)<br>

                            @Html.Label("Department")<br>
                            @Html.DropDownListFor(a => a.Department_Id, Enumerable.Empty<SelectListItem>(),"-- Select a Department --", new { @class = "form-control", @id="dep"})<br><br>
                            @Html.ValidationMessageFor(a => a.Department_Id)<br>

                            <input type="submit" id="submit" class="btn btn-primary submit-btn" value="Add" >
                        }
                    </div>
                </div>
                <center><a href="/SuperUser/ManageBatch">Go Back</a></center>
            </div>
        </div>
    </div>
</body>

<script>
    $(function () {
        $(document).ready(function () {
            $.ajax({
                type: "POST",
                url: "/SuperUser/AjaxMethodForDepartment",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    len = response.length;
                    if (len == 0) {
                        $("#dep").html('<option disabled selected>-There are no Departments in DB-</option>');
                    }
                    else {
                        $("#dep").html('<option disabled selected>-Select a Department-</option>');
                        for (var i = 0; i < len; i++) {
                            $("#dep").append(new Option(response[i].Department_Id));
                        }
                    }
                },
                error: function (response) {
                    $("#dep").html('<option disabled selected>-There are no Departments in DB-</option>');
                }
            });
        });
    });
</script>