@model FYP.Models.User
@{
    ViewBag.Title = "AddTeacher";
    Layout = "~/Views/Shared/SuperUserLayout.cshtml";
}
<style>
    .submit-btn {
        width: 100%;
    }
</style>

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-primary">
                    <div class="panel-heading"><center><b>Create An Account For Teacher</b></center></div>
                    <div class="panel-body">

                        @using (Html.BeginForm())
                        {

                            @Html.Label("Id")
                            @Html.TextBox("User_Id","", new { @class = "form-control", @placeholder = "Example: john.smith@gmail.com" })
                            @Html.ValidationMessage("User_Id")<br>

                            @Html.Label("First Name")
                            @Html.TextBox("First_Name", "", new { @class = "form-control", @placeholder = "Example: John" })
                            @Html.ValidationMessage("First_Name")<br>

                            @Html.Label("Last Name")
                            @Html.TextBox("Last_Name", "", new { @class = "form-control", @placeholder = "Example: Smith" })
                            @Html.ValidationMessage("Last_Name")<br>

                            @Html.Label("Password")
                            @Html.Password("Password", "", new { @class = "form-control" })
                            @Html.ValidationMessage("Password")<br>



                            @Html.Label("Contact Number")
                            @Html.TextBox("Contact_No", "", new { @class = "form-control", @placeholder = "Example: 0300*******" })
                            @Html.ValidationMessage("Contact_No")<br>

                            @Html.Label("Status:")
                            <center>
                                @Html.RadioButton("Status", "Active", new { @checked = "checked" })
                                @Html.Label("Active") &nbsp;&nbsp;&nbsp;&nbsp;
                                @Html.RadioButton("Status", "Inactive")
                                @Html.Label("Inactive")
                            </center>

                            <input type="submit" class="btn btn-primary submit-btn" value="Register">
                        }
                    </div>
                </div>
                <center><a href="/SuperUser/ManageTeacher">Go Back</a></center>
            </div>
        </div>
    </div>
</body>
