@model FYP.Models.User
@{
    ViewBag.Title = "EditStudent";
    Layout = "~/Views/Shared/SuperUserLayout.cshtml";
}
<style>
    .submit-btn {
        width: 100%;
    }
</style>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-primary">
                    <div class="panel-heading"><center><b>Edit @Model.User_Id's Account</b></center></div>
                    <div class="panel-body">

                        <form action="/SuperUser/EditStudent" method="post">

                            <input type="text" name="User_Id" value="@Model.User_Id" hidden/><br>

                            <label>First Name</label>
                            <input type="text" name="First_Name" value="@Model.First_Name" class="form-control" /><br>

                            <label>Last Name</label>
                            <input type="text" name="Last_Name" value="@Model.Last_Name" class="form-control" /><br>

                            <label>Password</label>
                            <input type="password" name="Password" value="@Model.Password" class="form-control" /><br>

                            <label>Contact</label>
                            <input type="text" name="Contact_No" value="@Model.Contact_No" class="form-control" /><br>

                            <label>Department</label>
                            <select name="Department_Id" id="Department_Id" class="form-control">
                                <option disabled>--Select a Department--</option>
                                <option value="@Model.Department_Id" selected>@Model.Department_Id</option>    
                            </select><br>

                            <label>Batch</label>
                            <select name="Batch_Id" id="Batch_Id" class="form-control">
                                <option disabled>--Select a Batch--</option>
                                <option value="@Model.Batch_Id" selected>@Model.Batch_Id</option>
                            </select><br>

                            <label>Section</label>
                            <select name="Section" id="Section" class="form-control">
                                <option disabled>--Select a Section--</option>
                                <option value="@Model.Section">@Model.Section</option>
                            </select>

                            <input type="submit" class="btn btn-primary submit-btn" value="Save" />
                        </form>

                    </div>
                </div>
                <center><a href="/SuperUser/ManageStudent">Go Back</a></center>
            </div>
        </div>
    </div>
</body>

<script>
    $(function () {

        $("form").validate({
            rules: {
                First_Name: "required",
                Last_Name: "required",
                Password: "required",
                Contact_No: "required",
                Department_Id: "required",
                Batch_Id: "required",
                Section: "required",
            },
            messages: {
                First_Name: "Please enter first name !",
                Last_Name: "Please enter last name !",
                Password: "Please enter password !",
                Contact_No: "Please enter contact number !",
                Department_Id: "Please select a department !",
                Batch_Id: "Please select a batch !",
                Section: "Please select a section !",
            },
            submit: function (form) {
                form.submit();
            }
        });


        $(document).ready(function () {
            var dep = $("#Department_Id").val();
            var btch = $("#Batch_Id").val();
            var sec = $("#Section").val();

            $.ajax({
                type: "POST",
                url: "/SuperUser/AjaxMethodForDepartment",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    len = response.length;
                    if (len == 0) {
                        $("#Department_Id").html('<option disabled selected>--There are no Departments in DB-</option>');
                    }
                    else {
                        for (var i = 0; i < len; i++) {
                            if (!(dep == response[i].Department_Id))
                                $("#Department_Id").append(new Option(response[i].Department_Id, response[i].Department_Id));
                        }
                    }
                },
                error: function (response) {
                    $("#Department_Id").html('<option disabled selected>--There are no Departments in DB--</option>');
                }
            });
        
            $.ajax({
                type: "POST",
                url: "/SuperUser/AjaxMethodForBatch",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    len = response.length;
                    if (len == 0) {
                        $("#Batch_Id").html('<option disabled selected>--There are no batches in DB-</option>');
                    }
                    else {
                        for (var i = 0; i < len; i++) {
                            if (!(btch == response[i].Batch_Id))
                                $("#Batch_Id").append(new Option(response[i].Batch_Id, response[i].Batch_Id));
                        }
                    }
                },
                error: function (response) {
                    $("#Batch_Id").html('<option disabled selected>--There are no batches in DB--</option>');
                }
            });

            $.ajax({
                type: "POST",
                url: "/SuperUser/AjaxMethodForSection",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    for (var i in response) {
                        if (!(sec == response[i]))
                            $("#Section").append(new Option(response[i], response[i]));
                    }
                },
            
                error: function (response) {
                },
            });

        });

    });
</script>












