@model FYP.Models.User
@{
    ViewBag.Title = "EditStudent";
    Layout = "~/Views/Shared/SuperUserLayout.cshtml";
}
<style>
    .submit-btn {
        width: 100%;
    }
</style>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-primary">
                    <div class="panel-heading"><center><b>Edit @Model.User_Id's Account</b></center></div>
                    <div class="panel-body">

                        @using (Html.BeginForm())
                        {

                            @Html.Label("First Name:")<br>
                            @Html.TextBoxFor(model => model.First_Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.First_Name)<br>

                            @Html.Label("Last Name:")<br>
                            @Html.TextBoxFor(model => model.Last_Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Last_Name)<br>

                            @Html.Label("Password:")<br>
                            @Html.TextBoxFor(model => model.Password, new { @class = "form-control", @type = "Password" })
                            @Html.ValidationMessageFor(model => model.Password) <br>

                            @Html.Label("Contact Number:")<br>
                            @Html.TextBoxFor(model => model.Contact_No, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Contact_No)<br>

                            @Html.Label("Role:")<br>
                            @Html.DropDownListFor(model => model.Role, (IEnumerable<SelectListItem>)ViewBag.RoleList, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Role)<br>

                            @Html.Label("Department")
                            @Html.DropDownListFor(a => a.Department_Id, (IEnumerable<SelectListItem>)ViewBag.d, "-Select a Department-", new { @class = "form-control"})
                            @Html.ValidationMessageFor(a => a.Department_Id) <br>
                            
                            @Html.Label("batch")
                            @Html.DropDownListFor(a => a.Batch_Id, (IEnumerable<SelectListItem>)ViewBag.s, "-Select batch-", new { @class = "form-control"})
                            @Html.ValidationMessageFor(a => a.Batch_Id) <br> 

                            
                            <input type="submit" class="btn btn-primary submit-btn" value="Save Changes">
                        }
                    </div>
                </div>
                <center><a href="/SuperUser/ManageStudent">Go Back</a></center>
            </div>
        </div>
    </div>
</body>














