
@{
    ViewBag.Title = "ManageSubject";
    Layout = "~/Views/Shared/SuperUserLayout.cshtml";
}

<style>
    hr {
        border: 1px solid #3CCAE6;
    }

    a.my_class {
        color: white;
    }
</style>
<body>
    <div class="container" style="border: none; padding: 0px; border-radius: 4px;">
        <h3><b>Manage Subjects</b></h3>
        <hr>
        <div class="container table-responsive">
            <table class="table table-striped table-bordered">
                <tr>
                    <th style="height: 30px; width: 600px; text-align: center; font-size: 15px;">&nbsp;&nbsp;Teacher ID</th>
                    <th style="height: 30px; width: 600px; text-align: center; font-size: 15px;">&nbsp;&nbsp;Teacher Name</th>
                </tr>
                <tr>
                    <td style="height: 40px; width: 600px; text-align: center; font-size: 13px;">&nbsp;&nbsp;<b>@ViewBag.User_Id</b></td>
                    <td style="height: 40px; width: 600px; text-align: center; font-size: 13px;">&nbsp;&nbsp;<b>@ViewBag.User_Name</b></td>
                </tr>
            </table>
        </div>
        <button type="button" class="btn btn-primary" style="width:100%;" onclick="location.href='@Url.Action("AddSubject", "SuperUser", new {User_Id = @ViewBag.User_Id }, null)'"><span class="glyphicon glyphicon-plus-sign"></span> Add Subject</button>

        <div class="container" style="border: 1px solid silver; padding: 0px; border-radius: 4px;">
            <div class="container-fluid" style="background-color: #F4F4F4; padding: 12px; border-radius: 4px;"><span class="glyphicon glyphicon-edit"></span> Subjects List</div>
            <br>
            
            <div class="container">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th style="height: 30px; width: 600px; text-align: center; font-size: 15px;">&nbsp;&nbsp;Subjects</th>
                            <th style="height: 30px; width: 600px; text-align: center; font-size: 15px;">&nbsp;&nbsp;Status</th>
                            <th style="height: 30px; width: 600px; text-align: center; font-size: 15px;">&nbsp;&nbsp;Action</th>
                        </tr>
                    </thead>
                    @foreach (var s in Model)
                    {
                        <tr>
                            <td style="height: 40px; width: 600px; text-align: center; font-size: 13px;">&nbsp;&nbsp;<b>@s.Subject_Name</b></td>
                            
                            @if (s.Status == "Inactive")
                            {
                                <td style="height: 40px; width: 600px; text-align: center; font-size: 13px; color: red;">&nbsp;&nbsp;<b>@s.Status</b></td>
                            }
                            else if (s.Status == "Active")
                            {
                                <td style="height: 40px; width: 600px; text-align: center; font-size: 13px;">&nbsp;&nbsp;<b>@s.Status</b></td>
                            }
                            
                            <td style="height: 40px; width: 600px; text-align: center; font-size: 13px;">

                                <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("EditSubject", "SuperUser", new { Subject_Id = @s.Subject_Id, User_Id = @s.User_Id }, null)'">
                                    <span class="glyphicon glyphicon-cog"></span> Edit Subject
                                </button>
                                
                                @if (s.Status == "Active")
                                {
                                    <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("DisableSubject", "SuperUser", new { Subject_Id = @s.Subject_Id, User_Id = @s.User_Id }, null)'">
                                        <span class="glyphicon glyphicon-ban-circle"></span> Disable
                                    </button>
                                }
                                else if (s.Status == "Inactive")
                                {
                                    <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("EnableSubject", "SuperUser", new { Subject_Id = @s.Subject_Id, User_Id = @s.User_Id }, null)'">
                                        <span class="glyphicon glyphicon-ok-circle"></span> Enable
                                    </button>
                                }

                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</body>
