
@{
    ViewBag.Title = "ManageSubject";
    Layout = "~/Views/Shared/SuperUserLayout.cshtml";
}

<style>
    hr {
        border: 1px solid #3CCAE6;
    }

    a.my_class {
        color: white;
    }
    button {
        display: inline-block;
    }
</style>
<body>
    <div class="container" style="border: none; padding: 0px; border-radius: 4px;">
        <h3><b>Manage Subjects</b></h3>
        <hr>
        <button type="button" class="btn btn-primary" style="width:100%;" onclick="location.href='@Url.Action("AddSubject", "SuperUser")'"><span class="glyphicon glyphicon-plus-sign"></span> Add Subject</button>
        <div class="container" style="border: 1px solid silver; padding: 0px; border-radius: 4px;">
            <div class="container-fluid" style="background-color: #F4F4F4; padding: 12px; border-radius: 4px;"><span class="glyphicon glyphicon-edit"></span> Subjects List</div>
            <br>
            
            <div class="container">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th style="height: 30px; width: 600px; text-align: center; font-size: 15px;">&nbsp;&nbsp;Subject Id</th>
                            <th style="height: 30px; width: 600px; text-align: center; font-size: 15px;">&nbsp;&nbsp;Subject Name</th>
                            <th style="height: 30px; width: 600px; text-align: center; font-size: 15px;">&nbsp;&nbsp;Section</th>
                            <th style="height: 30px; width: 600px; text-align: center; font-size: 15px;">&nbsp;&nbsp;Batch Id</th>
                            <th style="height: 30px; width: 600px; text-align: center; font-size: 15px;">&nbsp;&nbsp;Teacher Id</th>
                            <th style="height: 30px; width: 600px; text-align: center; font-size: 15px;">&nbsp;&nbsp;Teacher Name</th>
                            <th style="height: 30px; width: 600px; text-align: center; font-size: 15px;">&nbsp;&nbsp;Action</th>
                        </tr>
                    </thead>
                    @foreach (var s in Model)
                    {
                        <tr id="tr_@s.Subject_Id">
                            <td style="height: 40px; width: 600px; text-align: center; font-size: 13px;">&nbsp;&nbsp;<b>@s.Subject_Id</b></td>
                            <td style="height: 40px; width: 600px; text-align: center; font-size: 13px;">&nbsp;&nbsp;<b>@s.Subject_Name</b></td>
                            <td style="height: 40px; width: 600px; text-align: center; font-size: 13px;">&nbsp;&nbsp;<b>@s.Section</b></td>
                            <td style="height: 40px; width: 600px; text-align: center; font-size: 13px;">&nbsp;&nbsp;<b>@s.Batch_Id</b></td>
                            <td style="height: 40px; width: 600px; text-align: center; font-size: 13px;">&nbsp;&nbsp;<b>@s.User_Id</b></td>
                            <td style="height: 40px; width: 600px; text-align: center; font-size: 13px;">&nbsp;&nbsp;<b>@s.User.First_Name @s.User.Last_Name</b></td>
                            
                            <td style="height: 40px; width: 600px; text-align: center; font-size: 13px;">

                                <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("EditSubject", "SuperUser", new { Subject_Id = @s.Subject_Id }, null)'">
                                    <span class="glyphicon glyphicon-cog"></span> Edit Subject
                                </button>
                                
                                <button type="button" class="btn btn-danger" id="@s.Subject_Id">
                                    <span class="glyphicon glyphicon-ban-circle"></span> Disable
                                </button>

                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</body>
<script>
    $(function () {
        $("tr button:nth-child(2)").click(function () {
            var btnValue = this.id;
            $.ajax({
                type: "POST",
                url: "/SuperUser/AjaxMethodForDisablingSubject",
                data: JSON.stringify({ Subject_Id: btnValue }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    $("#tr_" + btnValue).remove();
                },
                error: function (response) {
                    alert("error");
                }
            });
        });
    });
</script>