@{
    ViewBag.Title = "Manage_Questions";
    Layout = "~/Views/Shared/SuperUserLayout.cshtml";
}
<style>
    hr {
        border: 1px solid #3CCAE6;
    }

    a.my_class {
        color: white;
    }
</style>
<body>
    <div class="container" style="border: none; padding: 0px; border-radius: 4px;">
        <h3><b>Manage True/False</b></h3>
        <hr>
        <table class="table table-striped table-bordered" style="border-radius:4px;">
            <tr>
                <th style="height: 10px; width: 100px; text-align: center; font-size: 15px;">
                    <label><b>Teacher Name:</b></label>
                </th>
                <td style="height: 10px; width: 500px; text-align: center; font-size: 15px;">
                    <label><b>@Html.Raw(HttpContext.Current.Session["User_Name"])</b></label>
                </td>
            </tr>
            <tr>
                <th style="height: 10px; width: 200px; text-align: center; font-size: 15px;">
                    <label><b>Subject Name:</b></label>
                </th>
                <td style="height: 10px; width: 400px; text-align: center; font-size: 15px;">
                    <label><b>@ViewBag.Subject</b></label>
                </td>
            </tr>
        </table>
        <div class="container" style="border: 1px solid silver; padding: 0px; border-radius: 4px;">
            <div class="container-fluid" style="background-color: #F4F4F4; padding: 12px; border-radius: 4px;"><span class="glyphicon glyphicon-cog"></span>Manage Questions</div>
            <br>
            <div class="container">
                <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("Add_TrueFalse", "Teacher", new { id = @ViewBag.subject_id })'"><span class="glyphicon glyphicon-plus-sign"></span> Add True/False</button>

            </div>
            <br>
            <div class="container">
                <table class="table table-bordered">
                    <tr>
                        <th style="height: 30px; width: 500px; font-size: 14px;">
                            <label><b>Questions List</b></label>
                        </th>
                    </tr>
                    @foreach (var s in Model)
                    {
                        <tr>
                            <td style="height: 30px; width: 300px; text-align: center; font-size: 15px;">
                                @s.Questions
                            </td>
                            <td style="height: 30px; width: 300px; text-align: center; font-size: 15px;">
                                <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("Del_Question", "Teacher", new { id=@s.Question_Id})'"><span class="glyphicon glyphicon-remove"></span> Delete Question</button>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</body>